@CHARSET "ISO-8859-1";

.device-session-td-header {
	font-weight: bold;
	border: 1px solid #ccc;
	width: 45%;
	padding: 5px;
}

.device-session-td-value {
	border: 1px solid #ccc;
	width: 45%;
	padding: 5px;
}

.device-session-table {
	width: 100%;
}

.device-session-tr {
	height: 30px;
}

.div-selected-test-plan-device {
	background: #EAEAEA;
	/* border: 1px solid #BABABA; 
	padding: 3px;*/
	/*border-bottom: 1px solid #80000B;*/
	/*box-shadow: 4px 4px 8px #CCC;
	border-radius: 4px;
	background: url("../images/angle-down.png") no-repeat center center;*/
	margin-bottom: -1px;
	margin-left: -5px;
}

.first-device-from-live {
	/* margin-left:0px;*/
	
}

.arrow_box {
	position: relative;
	background: #eee;
	border: 1px solid #ccc;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(238, 238, 238, 0);
	border-top-color: #eee;
	border-width: 9px;
	margin-left: -9px;
}

.arrow_box:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #ccc;
	border-width: 10px;
	margin-left: -10px;
}

.div-test-plan-devices {
	width: 100%;
	height: 73px;
	display: inline-block;
	box-shadow: 1px 1px 0px #ccc !important;
	border-color: #ccc;
}

.div-test-paln-individual-device-container {
	width: auto;
	height: 96%;
	min-width: 80px;
	max-width: 80px;
	vertical-align: top;
	text-align: center;
	display: inline-block;
	/*margin: 5px;*/
	cursor: pointer;
	border-right: 1px solid #ccc;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	/* margin-left:-5px;*/
}

.verticalLine {
	border-left: 1px solid #ccc;
	height: 100%;
	display: inline-block;
}

.test-plan-device-image {
	display: block;
	margin: auto;
}
/* 
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	background-color: White;
	color: #2E2E2E;
	margin: 0px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#footer {
	background-color: rgba(213, 213, 213, 1);
	bottom: 0px;
	z-index: 500;
	color: #000;
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
	height: 25px;
	padding-top: 2px;
	line-height: 25px;
	margin-top: 5px;
} */

/* .qsaLogo {
	height: 50px;
	margin-left: 10px;
} */
.header_container {
	background-color: rgb(191, 234, 255);
	border-bottom: 1px solid #5AB8E5;
	/* 	background: #c5deea;  */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/* 	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ZGVlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzhhYmJkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzA2NmRhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 15%, #066dab 88%); */
	/* FF3.6+ */
	/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c5deea),
		color-stop(15%, #8abbd7), color-stop(88%, #066dab)); */
	/* Chrome,Safari4+ */
	/* 	background: -webkit-linear-gradient(top, #c5deea 0%, #8abbd7 15%, #066dab 88%); */
	/* Chrome10+,Safari5.1+ */
	/* 	background: -o-linear-gradient(top, #c5deea 0%, #8abbd7 15%, #066dab 88%); */
	/* Opera 11.10+ */
	/* 	background: -ms-linear-gradient(top, #c5deea 0%, #8abbd7 15%, #066dab 88%); */
	/* IE10+ */
	/* 	background: linear-gradient(to bottom, #c5deea 0%, #8abbd7 15%, #066dab 88%); */
	/* W3C */
	/* 	filter: progid:          
	DXImageTransform.Microsoft.gradient( startColorstr= '#c5deea',
		endColorstr= '#066dab', GradientType= 0); */ /* IE6-8 */
	height: 30px;
	margin: 0px;
	/* text-align: center; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	vertical-align: left;
	/*background-color: #1391BA ;*/
}

.refresh_button {
	background: url('./images/refresh.icon') -99px 0px no-repeat;
}

.member_table {
	border: 1px solid #ccc;
	width: 100%;
	box-shadow: 1px 2px 2px #ccc;
}

.member_td {
	border-bottom: 1px solid #ccc;
}

.firstHalf {
	min-height: 100%;
	display: inline-block;
}

.leftwrapper {
	float: left;
	position: absolute;
	left: 0px;
	margin: auto;
	text-align: left;
	display: inline-block;
	height: 97%;
	width: 205px;
	min-width: 2% !important;
	border-color: #ccc;
	box-shadow: 2px 1px 2px #ccc !important;
	border-color: #ccc;
	background-color: White;
}

.canvas_container {
	display: inline-block;
	margin: 10px;
}

.rightwrapper {
	/*float: left;
	width: 50%;
	margin: auto;
	text-align: left;
	color: #d9d9d9;
	display: inline-block;
	height: 100%;*/
	left: 30%;
	text-align: center;
	display: inline-block;
	height: 96%;
	position: absolute;
}

.header {
	text-align: center;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #FFF;
	font-weight: bold;
}

.heading {
	/*font-size: 1.17em;	*/
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 8px;
	color: #2E2E2E;
}

.device_wrapper {
	padding: 25px 0px 25px 0px;
	width: 400px;
}

p {
	text-align: left;
}

.button_container {
	margin: 8px;
	width: 300px;
	text-align: center;
}

.input_button {
	color: #fff;
	background-color: #1391BA;
	width: 125px;
	border-radius: 8px;
	box-shadow: none;
	border: none;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	cursor: pointer;
}

.button {
	color: #fff;
	background-color: #f2791d;
	border-radius: 8px;
	box-shadow: none;
	border: none;
	width: 125px;
	display: inline-block;
	height: 21px;
	text-align: center;
	vertical-align: middle;
}

/* .button:hover {
	background-color: #ffb15e;
} */

/* .button a,a:visited,a:hover,a:active {
	color: #000;
	text-decoration: none;
}  */
#addDevice {
	text-align: left;
	width: 960px;
	margin: auto;
	margin-bottom: 10px;
}

#addDeviceForm {
	text-align: left;
	width: 400px;
	margin: auto;
	padding: 10px;
}

#addDeviceForm span {
	display: block;
}

#content {
	margin: auto;
	width: 960px;
}

.device {
	width: 180px;
	height: 110px;
	margin: 10px;
	padding: 16px;
	color: #fff;
	vertical-align: top;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	display: inline-block;
}

.device.off {
	background-color: #c8cccf;
}

.device span {
	display: block;
}

.deviceName {
	text-align: center;
	font-weight: bold;
	margin-bottom: 12px;
}

.removeDevice {
	margin-top: 12px;
	text-align: center;
}

.device.Appliance {
	background-color: #5eb85e;
}

.device.Appliance a:hover {
	color: #a1ed82;
}

.device.Electronics {
	background-color: #0f90d1;
}

.device.Electronics a:hover {
	color: #4badd1;
}

.device.Lights {
	background-color: #c2a00c;
}

.device.Lights a:hover {
	color: #fad232;
}

.device.Other {
	background-color: #db524d;
}

.device.Other a:hover {
	color: #ff907d;
}

.device a {
	text-decoration: none;
}

.device a:visited, a:active, a:hover {
	color: #000;
}

.device a:hover {
	text-decoration: underline;
}

/*Context Menu*/
/* .custom-menu {
	background-color: #DFDFDF;
	border: 1px solid #666666;
	box-shadow: 3px 3px 2px #666666;
	display: block;
	padding: 5px 0;
	position: fixed;
	z-index: 1000;
	background-color: #FFFFFF;
	border: 1px solid #666666;
	box-shadow: 3px 3px 4px #666666;
	height:108px;
	position: fixed;
	display: none;
	z-index: 100000;
} */
.custom-menu ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	min-width: 150px;
	width: auto;
	max-width: 200px;
	font-family: Verdana;
	font-size: 12px;
}

.custom-menu ol li {
	/*margin: 0;
	display: block;
	list-style: none;
	padding: 5px 5px;
	cursor: pointer;*/
	border-bottom: 1px solid #E1E1E1;
	color: #666;
	font-family: Verdana;
	font-size: 10pt;
	height: 21px;
	padding-left: 5px;
	padding-top: 5px;
	width: 96%;
}

/***Left Panel ****/
#leftPanelToggle {
	left: 205px;
	top: 50%;
	position: absolute;
	height: 100px;
	border: 1px solid #BABABA;
	border-radius: 2px;
	background-color: #EDEDED;
}

/****** Collaboration panel *******/
.collaborationWrapper {
	position: absolute;
	right: 0px;
	height: 97%;
	margin: 0px;
	text-align: left;
	display: inline-block;
	-webkit-box-shadow: -2px 0px 2px 0px #bababa;
	-moz-box-shadow: -2px 0px 2px 0px #bababa;
	box-shadow: -2px 0px 2px 0px #bababa;
	/* width: 20%; */
	width: 0%;
}

#rigthPanelToggle {
	float: right;
	right: 205px;
	top: 50%;
	position: absolute;
	height: 100px;
	border: 1px solid #BABABA;
	border-radius: 2px;
	background-color: #EDEDED;
}

.right_button_container {
	margin: 1%;
	/*margin-top: 6%;
	text-align: center; */
}

/*******recording options*******/
#recordingOptions {
	/* border: 1px solid #bababa; */
	width: 50%;
	text-align: center;
	position: absolute;
	left: 20%;
	margin: 1%;
	/* height: 10%; */
}

.small_input_button_1 {
	color: #fff;
	background-color: #2588BB; /*#1391BA;*/
	width: 110px !important;
	border-radius: 2px;
	box-shadow: none;
	border: none;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: 11px; */
	cursor: pointer;
	margin: 2px;
	padding: 0px;
	padding-left: 2px;
}

.small_input_button {
	color: #fff;
	background-color: #2588BB; /*#1391BA;*/
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	padding: 5px;
	border: none;
	vertical-align: middle;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 7px -10px #276873;
}

.small_input_button:active {
	position: relative;
	top: 1px;
	border: none;
	box-shadow: none;
}

.small_input_button:hover {
	background-color: #197DB0;
}

.play_buton_icon_white {
	padding-left: 25px !important;
	background-image: url("../images/play_white.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.stop_buton_icon_white {
	padding-left: 25px !important;
	background-image: url("../images/stop_white_16.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.small_input_button_play {
	background-image: url('../images/play-circle.png');
	background-position: 5px 2px;
	background-repeat: no-repeat;
}

.small_input_button_play1 {
	background-image: url('../images/play-circle.png');
	background-position: 5px 2px;
	background-repeat: no-repeat;
}

.small_input_button_stop {
	background-image: url('../images/square_w_16.png');
	background-position: 5px 2px;
	background-repeat: no-repeat;
}

.small_input_button_save {
	background-image: url('../images/caret-square-o-down_w_16.png');
	background-position: 5px 2px;
	background-repeat: no-repeat;
}

/****Canvas*****/
#screenshot {
	margin: 15px;
	left: 20%;
	position: absolute;
}

/****new buttoms****/
.blank_input_button {
	/* color: #fff; */
	background-color: #FFFFFF;
	width: 125px;
	/* border-radius: 8px; */
	box-shadow: none;
	border: none;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	cursor: pointer;
	text-align: left;
}

.inline_div {
	display: inline-block;
}

.userlogparent {
	position: relative;
	vertical-align: baseline;
	height: 100%;
	/* margin-bottom: 1px; */
	top: -5px;
}

#userName {
	font-size: 0.6em;
	font-weight: bold;
	color: rgb(37, 136, 187);
	text-align: right;
}

#lastLogin {
	font-size: 12px;
	font-weight: bold;
	color: rgb(37, 136, 187);
	text-align: right;
	vertical-align: bottom;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 6%;
	height: 96%;
	background-color: black;
	z-index: 1000;
	-moz-opacity: 0.8;
	opacity: 0.5;
	width: 80%;
	filter: alpha(opacity = 80);
}

#loadingMsg {
	display: block;
	top: 57%;
	left: 45%;
	position: absolute;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
}

.small_record_input_button {
	color: #fff;
	background-color: #2588BB;
	width: 140px !important;
	border-radius: 0px;
	box-shadow: none;
	border: none;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: 11px; */
	cursor: pointer;
	margin: 0px;
	padding: 0px;
}

#memberList {
	float: right;
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.report_bullet_icon_16 {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right: 3px;
	margin-top: -2px;
	content: url("../images/report_bullet_16.png");
}

.devicelistWrapper {
	display: inline-block;
	width: 100%;
	height: auto;
	margin-left: 1%;
}

/* .deviceWrapper {
	display: inline-block;
	border: 1px solid rgb(184, 190, 212);
	width: 22%;
	height: 160px;
	margin: 1%;
	font-weight: 700;
	text-align: center;
} */
.deviceWrapper {
	display: inline-block;
	border: 1px solid rgb(184, 190, 212);
	width: 160px;
	height: 160px;
	margin: 1%;
	font-weight: 700;
	text-align: center;
	padding: 5px;
}

/* .androidDevice {
	background: url('../images/android-phone-color.png');
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
} */
.androidDevice {
	background: url('../images/android-phone-color.png');
	background-repeat: no-repeat;
	width: 128px;
	height: 128px;
	margin-left: 10%;
}

.iphoneDevice {
	background: url('../images/iphone-color.png');
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 50%;
}

.iphoneDevice {
	background: url('../images/iphone-color.png');
	background-repeat: no-repeat;
	width: 128px;
	height: 128px;
	margin-left: 10%;
}

.selectedDevice {
	border: 2px solid rgb(128, 209, 75);
	box-shadow: 0 0 1px rgba(35, 92, 7, 0.5);
}

.buildRowcol {
	font-weight: 700;
	margin-top: 10px;
	display: inline-block;
}

#accountName {
	text-align: right;
	font-size: 0.7em;
	color: rgb(37, 136, 187);
	vertical-align: bottom;
	margin-top: 11px;
	text-shadow: 1px 1px 1px #fff;
	margin-bottom: -4px;
}
.black_overlay_style{
	height: 600px;
	position: absolute;
	left: 220px;
	background-color: black;
	z-index: 1000;
	-moz-opacity: 0.8;
	opacity: 0.5;
	width: calc(100% - 240px );
}

.testPlanListWrapper {
	display: inline-block;
	width: 100%;
	height: auto;
	margin-left: 1%;
}

.CreditCardSave{
  width: 100%;
}

.CreditSavePart1{
	MARGIN-LEFT: 1%;
  	WIDTH: 50%;
}

.CreditCardRow{
	FONT-WEIGHT: 600;
  	DISPLAY: INLINE-BLOCK;
  	WIDTH: 98%;
  	FONT-WEIGHT: bold;
}
.CreditCardCol1{
	DISPLAY: INLINE-BLOCK;
}
.CreditCardCol2{
	DISPLAY: INLINE-BLOCK;
}
.CrediCardView{
 width: 100%;
 height: 500px;
}
.CrediCardTitle{
 font-family: initial;
  font-weight: bold;
  }
 .CreditCardInforow1{
  margin-left: 7%;
  margin-top: 15%;
  }
.CreditCardInfo{
  height: 100%;
  width: 50%;
  margin-left: 1%;
  background: url('../images/credit_card_background.png');
  background-repeat: no-repeat;
  background-size: 314px;
  background-position-y: 40px;
  background-position-x: 10px;
  }
  
  .CreditCardHideDigit{
   margin-left: 0%;
  margin-top: 37%;
  font-weight: bold;
  font-size: -webkit-xxx-large;
  color: silver;
  }
  .CreditCardLastFour{
   margin-left: 40%;
  margin-top: -9%;
  font-weight: bold;
  color: silver;
  float: left;
  font-size: large;
  }
 .CreditCardHolderName{
    margin-top: 3%;
 	 margin-left: 9%;
  float: left;
  color: silver;
  font-weight: bold;
    font-size: large;
  }
  .CreditCardType{
    float: left;
  color: silver;
  background: url('../images/visa.jpg');
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 75%;
  height: 53px;
  width: 100px;
 
  }    
  .CardType{
 	margin-top: -35%;
 	/*font-weight: bold;*/
  }
  .ExpiryDate{
  /*font-weight: bold;*/
  }
  .BillingInfo{
  float: left;
  margin-left: 35%;
  margin-top: -33%;
   font-weight: bold;
  }
  .CreditCardInforow2{
    margin-left: -13%
      margin-top: -8%;
    }
  