select {
	width: 170px;
	height: 30px;
	margin-right: 10px;
}

input[type="text"], [type="password"] {
	height: 25px;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding-left: 10px;
}

input[type="number"] {
	height: 25px;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding-left: 10px;
}

textarea {
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding-left: 10px;
	font-family: 'Open Sans', 'Segoe UI';
	font-size: 13px;
}

.mandatory_mark {
	color: red;
}

.fade {
	width: 100%;
	height: 100%;
	opacity: .90;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	/* background-color: #313131; */
	/* background-color: #E3E3E3; */
	background-color: #000;
	overflow: auto;
	z-index: 15;
	-moz-opacity: 0.7;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.popup_container {
	background-color: white;
	width: 60%;
	height: 80%;
	/* height: auto; */
	position: absolute;;
	top: 10%;
	left: 20%;
	box-shadow: 0 0 40px rgba(0, 0, 0, .5);
	z-index: 20;
}

.header_section_wrapper {
	display: inline-block;
	float: left;
	width: 100%;
	height: 40px;
	background-color: #BFEAFF;
	border-bottom: 2px solid #5AB8E5;
}

.popup_title {
	display: inline-block;
	float: left;
	width: auto;
	height: 30px;
	margin: 1%;
	margin-left: 2%;
	color: rgb(37, 136, 187);
	font-size: 20px;
	font-weight: 500;
}

.popup_close_button {
	display: inline-block;
	float: right;
	width: auto;
	padding: 10px;
}

.break_line {
	display: inline-block;
	float: left;
	width: 100%;
	background-color: #5AB8E5;
	height: 2px;
}

.body_section_wrapper {
	float: left;
	display: inline-block;
	width: 100%;
	/* 	height: auto;
	max-height: 450px;
	max-height: 35em; */
	max-height: 80%;
	max-height: -webkit-calc(100% - 90px);
	max-height: -moz-calc(100% - 90px);
	max-height: calc(100% - 90px);
	overflow-y: auto;
}

.form_body_container {
	display: inline-block;
	float: left;
	width: 96%;
	/* max-height: 35em; */
	margin: 1%;
	margin-left: 2%;
	background-color: white;
}

.footer_section_wrapper {
	float: left;
	display: inline-block;
	width: 100%;
	text-align: right;
	height: 45px;
	border-top: 2px solid #5AB8E5;
}

.form_input_text {
	width: 100%;
}

/* input:focus{
	border:blue;
} */
.fieldset_wrapper {
	width: 100%;
}

.form_field_set {
	margin-top: 10px;
	border: 1px solid #CCC;
	margin-right: 0px;
}

.form_input_text_area {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.forn_input_filetype {
	/* 	width: 25%; */
	/* 	opacity: 0; */
	/* 	border-top-style: none; */
	/* 	margin-left: -180px; */
	/* 	cursor: pointer; */
	width: 25%;
	opacity: 0;
	border-top-style: none;
	margin-left: -140px;
	cursor: pointer;
	width: 140px;
}

.form_input_text, .form_input_text_area {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

.form_input_text:focus, .form_input_text_area:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.form_file_name {
	/* 	width: 70%; */
	width: 500px;
	height: 30px;
	border: none;
	background-color: #fff;
}

.form_button_wrapper {
	width: 98%;
	margin-top: 10px;
}

.form_upload_button_row_wrapper {
	width: 100%;
	display: inline-block;
	margin-top: 5px;

	/* 	height: auto; */
	/* 	float: left; */
	/* 	margin: 1%; */
	/* 	margin-left: 0px !important; */
	/* 	box-shadow: 0 0 3px rgba(0, 0, 0, .2); */
}

.form_upload_button {
	width: 120px;
	background-color: #EFEFEF;
	text-align: center;
	color: rgb(97, 97, 97);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	border-radius: 2px;
	color: rgb(37, 136, 187);
	border: solid #aaa 1px;
}

.form_selectbox {
	margin-top: 10px;
}

.item_selector {
	width: 300px;
	height: 140px;
	margin: 0px 2px 0px 3px;
}

.form_row_wrapper {
	width: 98%;
}

.form_col_wrapper {
	display: inline-block;
	/* 	float:left; */
	margin-top: 10px;
	font-weight: 600;
}

.form_col1 {
	display: inline-block;
	float: left;
	font-weight: 600;
}

.form_label {
	margin-top: 10px;
	font-weight: 600;
}

.form_input_radio {
	margin-top: 10px;
}

.filter_label {
	width: 70px;
}

.confirm_box_fade {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	background-color: #E3E3E3;
	overflow: auto;
	z-index: 15;
	-moz-opacity: 0.7;
	opacity: 1;
	filter: alpha(opacity = 50);
}

.confirm_box_container {
	background-color: white;
	width: 40%;
	height: 80%;
	/* height: auto; */
	position: absolute;
	top: 30%;
	left: 30%;
	box-shadow: 0 0 40px rgba(0, 0, 0, .5);
	z-index: 20;
}

.confirm_box_body_container {
	display: inline-block;
	float: left;
	width: 89%;
	margin: 1%;
	margin-left: 5%;
	background-color: white;
}

.confirm_footer_section_wrapper {
	float: left;
	display: inline-block;
	width: 100%;
	text-align: right;
	height: 45px;
	border-top: 2px solid #5AB8E5;
	margin-top: 10px;
}

/********* Progress Bar********/
.progress {
	height: 20px;
	margin-top: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}

.progress-bar-success {
	background-color: #5cb85c;
}

.upload_build_app_wrapper{
	border: 2px solid rgb(236, 236, 236);
	padding: 10px;
}

.build_url_wrapper{
	border: 2px solid rgb(236, 236, 236);
	padding: 10px;
}

.addBuildURL{
	margin-top: 12px;
	margin-left: 0px!important;
}

.webBuildURL{
	margin-top: 10px; 
	width: 300px; 
	height: 18px!important;
}
.note_text{
	font-weight: 700;
  	margin-left: 1%;
}
.ImageViewContainer{
  height: auto !important;
  border: 10px solid rgb(239, 239, 239);
  background-color: white;
  width: 40%;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 30%;
  box-shadow: 0 0 40px rgba(0, 0, 0, .5);
  z-index: 20;
  border-radius: 5px;
}

.ImageHeaderSection{
  display: inline-block;
  float: right;
}

.Image_body_section_wrapper{
	float: left;
	display: inline-block;
	width: 100%;
	height: 400px;
	overflow-y: auto;
}